.dragMe {
    width: auto;
    height: auto;
    border: 1px solid blue;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 100;
}

#target {
    width: 400px;
    height: 220px;
    border: 1px solid gray;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 130px;
    z-index: 0;
}

h3 {
    text-align: center;
}