extends assignment4template

block content
    script(src="/js/tabs.js")
    div#tabs
        ul
            li: a(href='#team') Team
            li: a(href='#dragdrop') DragDrop
            li: a(href='#test') Test
        div#team
            include ./team.jade
        div#dragdrop
            include ./dragdrop.jade
