doctype html
html
head
    title=title
    link(rel='stylesheet' type='text/css' href='/stylesheets/jquery-ui/jquery-ui.min.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/widgets.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/dragdrop.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/resize.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/effects.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(type="text/javascript" src="/js/jquery-ui.min.js")
body
    block content

