extends assignment4template

block content
    div
        script(src="/js/dragdrop.js")
        script(src="/js/resize.js")
        h1 Play around
        div(class='dragMe' id='resizeMe')
            h3
                | Drag me
                br
                | or
                br
                | Resize me
            p Drag a corner or side to resize
            //- img(src='/images/dog.jpg')
        div(id='target') DROP HERE
