html
   head
      title Profile page
   body
      p Hi, #{user.username}. you're now in Profile Page.
      p You may update your profile.
      form(action="/profile" method="POST")
        input(name = "new_username" type="text" required placeholder="username" value="#{user.username}")
        input(name = "new_password" type = "password" required placeholder = "password" value="#{user.password}")
        button(type = "Submit") Update