extends layout

block content
      if(message)
         h4 #{message}
         form(action="/register" method="POST")
             input(name = "username" type = "text" required 
                   placeholder = "Username")
             input(name = "password" type = "password" required 
                   placeholder = "Password")
             input(name = "email" type = "email"  
                   placeholder = "Email")
             input(name = "organization" type = "text"  
                   placeholder = "Organization")
             input(name = "gender" type = "text"  
                   placeholder = "Gender")
             input(name = "birthday" type = "text"  
                   placeholder = "mm/dd/yyyy")
             button(type = "Submit") Register me!