//- extends assignment4template

//- block content
//-     script(src="/js/resize.js")
//-     div(id='resizeMe')
//-         h2
//-             span(class='ui-icon ui-icon-heart') 
//-             | Resize Me
//-             span(class='ui-icon ui-icon-star')
//-         p Drag a corner or side to resize