extends assignment4template

block content
    h1.ui-widget-header Can you sort the names alphabetically?
    ul#sortable
        h2 Yuxiang Chen
        h2 Xiaorui Zhang
        h2 Xiaoting Jin
        h2 Tianyu Cao