extends assignment4template

block content
    //- script(src='/js/tabs.js')
    script(src='/js/effects.js')
    div
        h1 GO BULLY
        div#buttons
            h2#fadeToggle Yuxiang Chen
            h2#slideToggle Tianyu Cao
            h2#toggleXJ Xiaoting Jin
            h2#toggleXZ Xiaorui Zhang
        h2#contentYC.content.yc.
            Team leader of GO BULLY
            The coolest man of SJSU
        h2#contentTC.content.tc.
            Team member of GO BULLY
            Servant of YC
        h2#contentXJ.content.xj.
            Team member of GO BULLY
            A beautiful lady
        h2#contentXZ.content.tc.
            Team member of GO BULLY
            Another beautiful lady